.banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: 	hsl(210, 4%, 89%);
    top: 0;
    width: 100%;
    position: fixed;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 5px;
    padding-bottom: 5px;
}


.muc{
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-size: 19px;
}
.anhbia{
    border-bottom: 1px solid grey;

}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', sans-serif;
}


hr{
    margin-left: 400px;
}

.logo{
    height: 60px;
}



.dau{
    margin-top: 35px;
    margin-bottom: 5px;
    padding-bottom: 0;  
    padding-left: 10%;
    padding-right: 10%;
    text-align: center;
    border-bottom: solid 1px;
}

footer.cuoi{
    margin-top: 50px;
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
    background:#0c77c5;
    border-bottom: 1px solid gray;
    font-family: 'Noto Sans';
}
.cuoi{
    display: flex;
    
}





a.muccuoi{
    color: white;
    text-decoration: none;
}

p{
    color: white;
    
}
.cuoi.between{
    justify-content: space-between;
}
ul.ok{
    list-style: none;
    display: block;
    margin-right: 30px;
    font-weight: bold;
}
li.cuoicung{
    width: 100%;
}

input{
    width: 300px;

}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container{
    background-color: white;
    margin-left: 10%;
    margin-right: 10%;
    
}
.btn-danhgia{
    width: 200px;
    height: 40px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.demo{
    margin-top: 20px;
    margin-left: 30px;
}
.Tieu{
    color: red;
}
p.ok1{
    color: cadetblue;
    font-weight: 10;

}
.row{
    margin-top: 10px;
}
.ko{
    color:red;
}
.ko1{
    color: red;
}
.danhgia{
    
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 50px;
    
}
h3.danhgia1{
    color: red;
}
h3.hotro1{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 40px;
}
h3.hotro1, form{
    padding-left: 10%;
}

ul, ol{
    list-style: none;
}

ul li
{
    height: 60px;
    list-style-type: none;
    margin: 0px;
    vertical-align: middle;
}
ul li a {
    display:table-cell;
    vertical-align: middle;
    height:60px;
}
ul{
    list-style: none;
    text-align: center;
}
li{
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
    margin-left: 10px;
    display: inline-block;
}
li:hover{
    color:white;
    background-color: #3CB371;
    
}


footer.cuoi .p1, footer.cuoi .p2{
    display: block;
    width: 32%;
    margin-right: 3%;
    text-align: left;
}
.logocuoi{
    display: block;
    width: 30%;
    text-align: left;
}
.logo1{
    text-align: left;
}

h2.end{
    margin-bottom: 10px;
    padding-bottom: 5px;
    color: white;
    border-bottom: 1px solid white;
}

h3.end{
    margin-bottom: 10px;
    color: white;
    font-weight: bold;
}